<!DOCTYPE html>
<%- include("includes/base.ejs")  %>
<link rel="stylesheet" href="/css/home/home.css">
</head>
<%- include("includes/header.ejs")  %>

<main>
        <h1>HOME</h1>
</main>

<%- include("includes/end.ejs")  %>
