<!DOCTYPE html>
<%- include("includes/base.ejs")  %>
<link rel="stylesheet" href="/css/home/home.css">
</head>
<%- include("includes/header.ejs")  %>

<main>
        <div class="wrapper__product">
            <h1 class="Product__title">title</h1>
            <div class="wrapper__img">
                <img src="/assets/image/img.jpg" alt="Images" class="Product__img">
            </div>
            <h4 class="Product__Price">$400</h4>
            <p class="Product__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, voluptatibus?</p>
        </div>
</main>

<%- include("includes/end.ejs")  %>
