main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
h1{
    font-size: 200px;
    color: white;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}