<!DOCTYPE html>
<%- include("includes/base.ejs")  %>
<link rel="stylesheet" href="/css/home/home.css">
</head>
<%- include("includes/header.ejs")  %>

<main>
        <form action="/add-product" method="POST">
        <input type="text">    
        </form>

</main>

<%- include("includes/end.ejs")  %>
