<%- include("../includes/base.ejs")  %>
<link rel="stylesheet" href="/css/shop/add-products.css">
</head>
<%- include("../includes/header.ejs")  %>

<main class="main">
        <form action="/add-products" method="POST" class="form">
                <div class="form__control">
                        <input type="text" name="title" class="titleInput inputs" placeholder="Please type title">
                        <label for="title">TItle </label>
                </div>
                <div class="form__control">
                        <label for="image">Image URl</label>
                        <input type="text" name="image" class="imgInput inputs">
                </div>
                <div class="form__control">
                        <label for="price">Price</label>
                        <input type="number" step=".01" class="priceInput inputs" name="price" id="price" placeholder="Price">
                </div>
                <div class="form__control">
                        <label for="description">description</label>
                        <textarea name="description" class="descriptionInput inputs"  rows="5"></textarea>
                </div>
                <button class="btn" type="submit"> Add Product </button>
        </form>
</main>

<%- include("../includes/end.ejs")  %>
